---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Proyecto de prueba para volver un master a pedro.">
  <main class="w-full h-full flex flex-1 flex-col justify-start items-center">
    
  </main>
</Layout>
