---
const footerAnchors = [
    {name: 'Contacto', url: '#'},
    {name: 'Privacidad', url: '#'},
];
---

<footer class="flex w-full h-[70px]  bg-secondary items-center gap-4 px-[50px]">
    {
        footerAnchors.map((linkFoo)=>(
            <a  class=" text-sm text-white font-thin " href={linkFoo.url}>{linkFoo.name}</a>
        ))
    }
</footer>