---
console.log("Hello, World!");
const navLinks = [
  { name: "Home", url: "#" },
  { name: "About", url: "#" },
  { name: "Services", url: "#" },
  { name: "Portfolio", url: "#" },
  { name: "Contact", url: "#" },
];
---

<header
  class="w-full flex h-[80px] bg-primary px-[50px] items-center justify-between"
>
  <span class="text-white font-semibold text-lg tracking-tighter"
    >Gonzpads.</span
  >
  <nav class="flex gap-5">
    {
      navLinks.map((link) => (
        <a class="text-white text-base font-thin" href={link.url}>
          {link.name}
        </a>
      ))
    }
  </nav>
  <button class="font-bold bg-white py-3 px-4 rounded-full">Get Started</button>
</header>
