---
console.log('hello')
---
<section class= "  w-full h-[837px]  flex flex-col items-center gap-10 relative overflow-hidden bg-[#EEF2F6] ">
    <!--Div|hero´s text-->
    <div class=" w-[672px] h-[332px] flex flex-col gap-[18px] justify-end">
        <h1 class="text-[56px] font-semibold tracking-tighter text-center">
            Manage Your Finances Easer Than Ever.
        </h1>
        <p class="text-[18px] text-[#697586] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare
        </p>
    </div >
    <!--Div|Buttons-->
    <div class="flex gap-6  w-[641px] h-[48] justify-center  ">
        <button  class=" bg-[#202939]  text-white rounded-[32px] w-[131px] h-[40px]  hover:text-black hover:bg-white hover:border hover:border-black ease-in-out transition-all duration-[300ms]">Get estarted</button>
        <button class="bg-[white] text-black  rounded-[32px] w-[131px] h-[40px] hover:text-white hover:bg-black ">Learn more</button>
    </div>
    <!--Div|Financio Cards-->
    <div class="flex  w-[1100px] h-[360.79px]  absolute  bottom-[-90px] justify-between items-end z-[1] ">
        <div class="w-full h-full absolute  flex justify-center ">
            <div class="w-[562px] h-[337px] absolute z-[1] ">
                <img class="" src="/public/assets/card_1.png" alt="Financio card1">
            </div>
        </div>
        <div class="w-[500px] h-[300px]  relative">
            <img  class="absolute bottom-[90px] " src="/public/assets/card_2.png" alt="Financio card1">
        </div>
        <div class="w-[500px] h-[300px] relative">
            <img class="absolute bottom-[90px]" src="/public/assets/card_2.png" alt="Financio card1">
        </div>
    </div>
    <!-- circles -->
    <div class="size-[720px] bg-[#84CAFF] rounded-full absolute bottom-[-360px] left-[30px]  blur-lg opacity-80"></div>
    <div class="bg-[#EA55ED] absolute size-[720px] rounded-full bottom-[-360px] right-[30px]  blur-lg opacity-80"></div>
</section>